---
layout: base.njk
templateEngineOverride: md, njk
---
<style>
.banner-topbar
{
  display: inline-block;
  width: 100%;
  background-color: #000;
}
.banner-logo 
{
  width: 35%;
  padding-left: 20px;
}
</style>

<header class="tdbc-hero">
  <div class="tdbc-container">
  <div class="banner-topbar">
    <div style="width: 80%; float: left;">
      <image class="banner-logo" src="../images/bannerwhite.png" alt=""></image>
    </div>
    <div style="float: right;">
    </div>
    </div>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--secondary tdbc-mt-md tdbc-mx-auto sitedesc">
      <i>{{ meta.siteDescription }}</i>
    </h2>
  </div>
</header>
<main class="tdbc-container">

  <div class="biobox">
<div class="bioimage"><img src="../images/Jamboree2.png" alt=""/></div>
<div class="biotext">You've heard of a Game Jam... Get ready for a Jam Game!</div>
<div class="biotext">Seaside Jamboree is a 2D side-scroller, cozy, idle faming game. Perfect for fans of Stardew Valley, Cookie Clicker and Kingdom Two Crowns; join our happy-go-lucky farmer on her quest to raise money for her dream wedding.</div>
<div class="biotext">This relaxing, single player experience provides casual fun for gamers who are interested in the gratifying dopamine hit of watching that number go up. Whether it's easy aftenroon fun, an escape for rainy days, or a time-killer during long queue times for competitive matches, Seaside Jamboree is a flexible experience for all types of gamers.</div>
</div> 

 <div class="floating-social-corner">
  <a target="_blank" href="https://bsky.app/profile/narcolepsygames.bsky.social" class="social-icon">
   <i class="fa-brands fa-bluesky"></i>
  </a>
  <a href="mailto:narcolepsygames@gmail.com" class="social-icon">
    <i class="fa-solid fa-envelope"></i>
  </a>
  <a href="www.narcolepsygames.tumblr.com" class="social-icon">
    <i class="fa-brands fa-tumblr"></i>
  </a>
</div> 

 <div class="bottom-social-links">
  <a target="_blank" href="https://bsky.app/profile/narcolepsygames.bsky.social" class="social-icon">
   <i class="fa-brands fa-bluesky"></i>
  </a>
  <a href="mailto:narcolepsygames@gmail.com" class="social-icon">
    <i class="fa-solid fa-envelope"></i>
  </a>
  <a href="https://narcolepsygames.tumblr.com" class="social-icon">
    <i class="fa-brands fa-tumblr"></i>
  </a>
</div> 
{{ content | safe }}

</main>
